* {
  margin: 0;
  box-sizing: border-box;
}
.cards {
  display:flex;
}

.IdCard {
  display: flex;
  border: 1px solid black;
  margin-bottom: 10px;
  margin-top: 10px;
}
.right {
  display: block;
}

.greet  {
  border: 1px solid black;
  margin-bottom: 10px;
  margin-top: 10px;
}